services:
  chat-server:
    build: ./server
    container_name: chat-server
    ports:
      - "8443:8443"
    volumes:
      - ./evidence/logs:/app/logs
      - ./evidence/pcaps:/pcaps
    networks:
      - chatnet

  demo-runner:
    image: node:18
    container_name: demo-runner
    working_dir: /work
    volumes:
      - ./server:/work
      - ./evidence/metrics:/work/metrics
    command: sh -c "npm install node-fetch@2 ws @stomp/stompjs && node src/main/resources/static/js/sendMessage.js"
    depends_on:
      - chat-server
    networks:
      - chatnet

  pcap-capture:
    image: nicolaka/netshoot:latest
    container_name: pcap-capture
    command: >
      sh -c "tcpdump -i any -w /pcaps/chat_capture.pcap tcp port 8443"
    volumes:
      - ./evidence/pcaps:/pcaps
    depends_on:
      - chat-server
    networks:
      - chatnet

networks:
  chatnet:
    driver: bridge
